In [1]:
import csv, sqlite3


# Création BDD
def createTable(nomTable, query):
    db = sqlite3.connect("floupics.db")
    cur = db.cursor()
    cur.execute(query)


# Import des données depuis le fichier csv
def insertDB(filename, query):
    db = sqlite3.connect("floupics.db")
    cur = db.cursor()
    with open(filename, 'r', encoding="utf-8") as f:
        reader = csv.reader(f)
        next(f) # skip header line
        for row in reader:
            cur.execute(query, row)
    db.commit()
    cur.close()
    db.close()


# -----PROGRAMME PRINCIPAL--------

# Requetes pour le fichier movies.csv
createTableMovies = """CREATE TABLE if not exists movies (
        movieId integer primary key,
        title text,
        genres text,
        year integer)"""

InsertDataMovies = """INSERT INTO movies (movieId, title, genres) VALUES (?, ?, ?);"""


#Exécution des fonctions pour création & import des données
createTable("movies", createTableMovies)
insertDB('movies.csv', InsertDataMovies)

In [2]:
#Affichage des 10 premières lignes de données
db = sqlite3.connect("floupics.db")
cur = db.cursor()

try:
    cur.execute('select * from movies limit 10')
    for row in cur:
        print(row)

except:
    print("Une erreur est survenue lors de la lecture dans la base")
    exit(1)

cur.close()        
db.commit()
db.close()

(1, 'Toy Story (1995)', 'Adventure|Animation|Children|Comedy|Fantasy', None)
(2, 'Jumanji (1995)', 'Adventure|Children|Fantasy', None)
(3, 'Grumpier Old Men (1995)', 'Comedy|Romance', None)
(4, 'Waiting to Exhale (1995)', 'Comedy|Drama|Romance', None)
(5, 'Father of the Bride Part II (1995)', 'Comedy', None)
(6, 'Heat (1995)', 'Action|Crime|Thriller', None)
(7, 'Sabrina (1995)', 'Comedy|Romance', None)
(8, 'Tom and Huck (1995)', 'Adventure|Children', None)
(9, 'Sudden Death (1995)', 'Action', None)
(10, 'GoldenEye (1995)', 'Action|Adventure|Thriller', None)

```python
# BONUS : Test avec pandas (création + import csv)
import sqlite3
import pandas as pd

# Chargement des données
df = pd.read_csv('movies.csv')
db = sqlite3.connect("movies.db")

# Insertion des données dans la BDD
df.to_sql("movies", db)

db.close()
```

In [ ]:
#Tentative de formatage des données

try:
    db = sqlite3.connect("movies.db")
    cur = db.cursor()
    cur.execute('select title from movies')
    for row in cur:
        a_split = row[0].split("(")
        title = (a_split[0:-1])
        year = (a_split[-1]).replace(")","")
        #print(title)
        try:
            int(year)
        except ValueError:
            year == 0

    for i in year:
        cur.execute("INSERT INTO movies (year) VALUES (?);", i)
    '''TEST si year est dans le bon ordre
        if year == a_split[-1].replace(")",""):
            print("ok")
        else:
            print("nope")'''
        
        
   
    cur.close()
    db.close()

except:
    print("Une erreur est survenue lors de la lecture dans la base")
    exit(1)